#container {
    display: flex;
    height: 100%;
    text-align: center;
    justify-content: stretch;
    align-items: stretch;
    /*border-radius: 1rem;*/
    overflow: hidden;
}

#method-select {
    width: 70%;
    min-width: 40px;
    font-size: large;
    margin-block: 2rem;
}

.login-method {
    margin-block: 1rem;
    display: flex;
    flex-direction: column;
}

#login, #side-notes {
    flex: 1;
    height: 100vh;
}

#side-notes {
    background-color: #fb8500;
    background: linear-gradient(45deg, #fb8500, #ffb703);

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: flex-end;
}

    #side-notes h2 {
        font-size: xx-large;
        margin-bottom: 1rem;
        font-weight: bold;
    }

    #side-notes > div {
        margin-bottom: 50vh;
    }

input[type="text"] {
    width: calc( 100% - 2rem );
    margin: 0.5rem 1rem;
    box-sizing: border-box;
    display: block;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: var(--accent-background-color);
}

#method-select {
    padding: 0.5rem 1rem;
    border:1px solid var(--accent-background-color);
    border-radius: 0.2rem;
    background-color: transparent;
}

#login-button-container {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    margin: 0.5rem;
}

#input-link {
    flex: 1;
    margin: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#login-submit {
    padding-inline: 1rem;
    font-size: larger;
    background-color: #fb8500;
    border: 1px solid transparent;
    border-radius: 0 1rem 1rem 0;
}