:root {
    color-scheme: light dark;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
}

@media (prefers-color-scheme: dark) {

    /* Pallets: 
    https://coolors.co/00072d-01235c-023e8a-0077b6-0096c7-00b4d8-48cae4-90e0ef-ade8f4-caf0f8
    */
    :root { --background-color: #1C1C3A; --accent-background-color: #00072D; --accent-color: #0077B6;}

    body { background-color: var(--background-color); color: white; }
}

@media (prefers-color-scheme: light) {
    :root { --background-color: #FFFFFF; --accent-background-color: #e9e9e9; --accent-color: #0077B6;}

    body { background: var(--background-color); color: black; }
}

.titlebar {
    height: 30px;
    width: 100vw;
    padding: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #74b1be;
    background-color: #2f3241;

    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.window-transparent {
    background-color: transparent;
}

.window-drag {
    min-height: 30px;
    width: 100%;
    -webkit-user-select: none;
    -webkit-app-region: drag; 
}

.window-undrag {
    -webkit-user-select: all;
    -webkit-app-region: none; 
}

body {
    padding: 0;
    margin:0;
}

.minor-text {
    font-style: italic;
    filter: brightness(0.9);
    margin: 0.5rem;
}

.fixed {
    position: fixed;
}

    .fixed.center {
        margin-inline: auto;
    }

    .fixed.bottom {
        bottom: 0;
    }